/* Styles pour l'accueil */

/*Styles pour les catégories*/

.categories-accueil{
    margin : 5vw 10vw 5vw 10vw !important;
}

.categories-accueil a{
    margin: 2rem !important;
}

.categorie-accueil-link{
    text-decoration: none !important;
}

.paccueil{
    background-color: var(--color7) !important;
    border: 1px solid var(--color6) !important;
    border-radius: 5px !important;
    margin: 1rem !important;
    height: 25vh !important;
}

.titre-produits-accueil{
    font-family: "Grandstander", Calibri;
    margin-top: -2vh !important;
    font-size: 5rem !important;
    color: var(--color6);
}

.card{
    border: 1px solid var(--color6) !important;
    border-radius: 5px !important;
}

.card:hover, .paccueil:hover{
    border-color: var(--color6) !important;
    transition: 0.5s;
    transform: scale(1.02);
}

.card-title{
    font-family: "Grandstander", Calibri;
    font-size: 2rem !important;
    color: var(--color6);
}

/*Styles pour la section à propos*/

.maison{
    background-color: var(--color1) !important;
    height: 90vh !important;
}

.maison-container{
    margin: 0vh 10vw 5vh 60vw !important;
    padding-top: 20vh !important;
}

.titre-maison-accueil{
    font-family: "Grandstander", Calibri;
    font-size: 4rem !important;
    color: var(--color1) !important;
    background-color: var(--color4) !important;
    padding: 1vh 1vw 2vh 1vw !important;
    margin-bottom: 0vh !important;
    border-top-right-radius: 5px !important;
    border-top-left-radius: 5px !important;
}

.texte-maison-accueil{
    color: var(--color4) !important;
    background-color: var(--color1) !important;
    padding: 1vw !important;
    border-bottom-right-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}

.parallax {
    background-image: url("../img/parallax.jpg");
    min-height: 80vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
.content-slider {
    width: 100%;
    height: 360px;
}

.slider {
    height: 320px;
    width: 680px;
    margin: 40px auto 0;
    overflow: visible;
    position: relative;
}

.mask {
    overflow: hidden;
    height: 320px;
}

.slider ul {
    margin: 0;
    padding: 0;
    position: relative;
}
  
.slider li {
    width: 680px;
    height: 320px;
    position: absolute;
    top: -325px;
    list-style: none;
}
  
.slider .titre-avis {
    font-size: 2.5rem;
    font-weight: bold;
    font-style: italic;
    color: var(--color2);
    border-bottom: 1px solid var(--color2);
}

.slider .text-avis {
    font-size: 1.7rem;
}

.slider .nameuser {
    font-size: 1.5rem;
    text-align: right;
}
  
.slider li.anim1 {
    animation: cycle 15s linear infinite;
}

.slider li.anim2 {
    animation: cycle2 15s linear infinite;
}

.slider li.anim3 {
    animation: cycle3 15s linear infinite;
}

.slider li.anim4 {
    animation: cycle4 15s linear infinite;
}

.slider li.anim5 {
    animation: cycle5 15s linear infinite;
}

.slider:hover li {
    animation-play-state: paused;
}

@keyframes cycle {
    0% {
        top: 0px;
    }
    4% {
        top: 0px;
    }
    16% {
        top: 0px;
        opacity: 1;
        z-index: 0;
    }
    20% {
        top: 325px;
        opacity: 0;
        z-index: 0;
    }
    21% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
    50% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
    92% {
        top: -325px;
        opacity: 0;
        z-index: 0;
    }
    96% {
        top: -325px;
        opacity: 0;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}

@keyframes cycle2 {
    0% {
        top: -325px;
        opacity: 0;
    }
    16% {
        top: -325px;
        opacity: 0;
    }
    20% {
        top: 0px;
        opacity: 1;
    }
    24% {
        top: 0px;
        opacity: 1;
    }
    36% {
        top: 0px;
        opacity: 1;
        z-index: 0;
    }
    40% {
        top: 325px;
        opacity: 0;
        z-index: 0;
    }
    41% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
    100% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
}

@keyframes cycle3 {
    0% {
        top: -325px;
        opacity: 0;
    }
    36% {
        top: -325px;
        opacity: 0;
    }
    40% {
        top: 0px;
        opacity: 1;
    }
    44% {
        top: 0px;
        opacity: 1;
    }
    56% {
        top: 0px;
        opacity: 1;
        z-index: 0;
    }
    60% {
        top: 325px;
        opacity: 0;
        z-index: 0;
    }
    61% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
    100% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
}

@keyframes cycle4 {
    0% {
        top: -325px;
        opacity: 0;
    }
    56% {
        top: -325px;
        opacity: 0;
    }
    60% {
        top: 0px;
        opacity: 1;
    }
    64% {
        top: 0px;
        opacity: 1;
    }
    76% {
        top: 0px;
        opacity: 1;
        z-index: 0;
    }
    80% {
        top: 325px;
        opacity: 0;
        z-index: 0;
    }
    81% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
    100% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
}

@keyframes cycle5 {
    0% {
        top: -325px;
        opacity: 0;
    }
    76% {
        top: -325px;
        opacity: 0;
    }
    80% {
        top: 0px;
        opacity: 1;
    }
    84% {
        top: 0px;
        opacity: 1;
    }
    96% {
        top: 0px;
        opacity: 1;
        z-index: 0;
    }
    100% {
        top: 325px;
        opacity: 0;
        z-index: 0;
    }
}