/*Styles pour les formulaires*/

.form-control-connexion{
    width: 50% !important;
}

.row{
    margin-right: 0px !important;
    margin-left: 0px !important;        
}

.row > *{
    padding-left: 0px !important;
}

/*Styles pour les boutons des formulaires*/

.btn-outline-primary {
    color: var(--color1) !important;
    border: 1px solid var(--color1) !important;
    background-color: white !important;
}

.btn-outline-primary:hover{
    border-color: var(--color1) !important;
    color: white !important;
    background-color: var(--color1) !important;
    transform: scale(1.05);
    transition: 0.3s;
}

/*Styles pour les erreurs des formulaires*/

.alert-danger{
    width: fit-content !important;
}