/*Styles pour le footer*/

footer{
    display: block;
    background-color: var(--color1);
    position : relative;
    bottom: 0;
    width: 100%;
    height: max-content;
    color: white !important;
    font-family: "Grandstander", Calibri !important;
}

footer a {
    text-decoration: none !important;
    font-size: 1rem;
    color: white !important;
}

footer a:hover {
    text-decoration: underline !important;
    color: var(--color2) !important;
}

footer li {
    padding-bottom: 0.5rem !important;
}

