/*Styles pour le panier*/

.card-panier{
    border: 1px solid var(--color6) !important;
}

.petite-image{
    height: 30vh !important;
    object-fit: cover;
    margin: 1.5vh !important;
}

.prix-produit{
    font-family: "Grandstander", Calibri;
    font-size: 1rem;
    color: var(--color5);
    border-top: 1px solid var(--color6) !important;
}

.card-title {
    font-family: "Grandstander", Calibri;
    font-size: 2rem !important;
    color: var(--color6);
}

/*Styles pour la quantité*/

.quantity{
    width: 4rem !important;
    border: 2px solid var(--color6) !important;
}

.btn-form{
    border: 2px solid var(--color6) !important;
    color: var(--color6) !important;
}

.btn-form:hover, .btn-form:active, .btn-form:focus{
    border-color: var(--color6) !important;
    color: white !important;
    background-color: var(--color6) !important;
    transition: 0.5s;
    transform: scale(1.05);
    box-shadow: 0px 0px 10px 0px var(--color6);
}