:root{
    /* Couleurs */
    --color1: #91c3aa;
    --color2: #ccd5ae;
    --color3: #e9edc9;
    --color4: #fefae0;
    --color5: #faedcd;
    --color6: #d4a373;
}

@font-face {
    font-family: "Grandstander";
    src: url('../font/Grandstander-clean.ttf') format('truetype');
  }

/*Styles pour le header de l'accueil*/

.haccueil{
    background-image: url("../img/header.jpg");
    background-size: cover;
    background-position: center;
    padding: 10px;
    height: 75vh;
    font-family: "Grandstander", Calibri;
}

header h1 {
    font-size: 4rem;
    color: var(--color1);
    margin-top: 15vh;
    padding-left: 10vw;
}

/*Styles pour le header des autres pages*/

.hpage{
    background-image: url("../img/headerpage.jpg");
    background-size: cover;
    background-position: center;
    padding: 10px;
    height: 35vh;
    font-family: "Grandstander", Calibri;
}

header > .h1page {
    font-size: 4rem;
    color: var(--color1);
    margin-top: 7vh;
    padding-left: 8vw;
}

/*Styles pour la navbar*/

.nav-perso{
    background-color: var(--color1);
    font-family: "Grandstander", Calibri;
    font-size: 1.5rem;
    color: var(--color1);
}

.nav-perso a{
    color: white;
}

.nav-perso a:hover{
    color: var(--color3);
}

/*Styles pour le body*/



/*Styles pour les titres*/

.h1{
    font-family: "Grandstander", Calibri;
    font-size: 3rem;
    color: var(--color1);
    margin-top: 5vh;
}

/*Styles pour les formulaires*/

.form-control{
    width: 50% !important;
}

/*Styles pour les boutons*/

.btn-outline-primary {
    color: var(--color1) !important;
    border: 1px solid var(--color1) !important;
}

.btn-outline-primary:hover{
    border-color: var(--color1) !important;
    color: white !important;
    background-color: var(--color1) !important;
}


