:root{
    /* Couleurs */
    --color1: #91c3aa;
    --color2: #ccd5ae;
    --color3: #e9edc9;
    --color4: #fffbee;
    --color5: #d7c69a;
    --color6: #d4a373;
}

@font-face {
    font-family: "Grandstander";
    src: url('../font/Grandstander-clean.ttf') format('truetype');
  }

/*Styles pour le body*/

body{
    background-color: var(--color4) !important;
}

/*Styles pour le header de l'accueil*/

.haccueil{
    background-image: url("../img/header.jpg");
    background-size: cover;
    background-position: center;
    padding: 10px;
    height: 75vh;
    font-family: "Grandstander", Calibri;
}

header h1 {
    font-size: 4rem;
    color: var(--color1);
    margin-top: 15vh;
    padding-left: 10vw;
}

/*Styles pour le header des autres pages*/

.hpage{
    background-image: url("../img/headerpage.jpg");
    background-size: cover;
    background-position: center;
    padding: 10px;
    height: 35vh;
    font-family: "Grandstander", Calibri;
}

header > .h1page {
    font-size: 4rem;
    color: var(--color1);
    margin-top: 7vh;
    padding-left: 8vw;
}

/*Styles pour la navbar*/

.nav-perso{
    background-color: var(--color1);
    font-family: "Grandstander", Calibri;
    font-size: 1.5rem;
    color: var(--color1) !important;
}

.nav-perso a{
    color: white;
}

.nav-link.active, .nav-link:active, .nav-link:focus, .nav-link:hover{
    color: var(--color3) !important;
}

.navbar-toggler{
    border: 2px solid black !important;
}

.navbar-toggler:active, .navbar-toggler:focus, .navbar-toggler:hover{
    border: 2px solid black !important;
}

.navbar-toggler-icon{
    align-items: center;
}

.dropdown-item {
    color: var(--color1) !important;
}

.dropdown-item.active, .dropdown-item:active {
    color: var(--color1) !important;
    background-color: var(--color3) !important;
}

.navbar-icon{
   filter: invert(100%);
   padding-top: 0% !important;
}

/*Styles pour le footer*/

.footer{
    display: block;
    background-color: var(--color1);
    font-family: "Grandstander", Calibri;
    font-size: 1.5rem;
    color: white;
    position : relative;
    bottom: 0;
    width: 100%;
    height: 30vh;
}

/*Styles pour les titres*/

.h1{
    font-family: "Grandstander", Calibri;
    font-size: 3rem !important;
    color: var(--color1);
    margin-top: 5vh;
}

.h2{
    font-family: "Grandstander", Calibri;
    font-size: 2rem !important;
    color: var(--color1);
    margin-top: 5vh !important;
}

.h3{
    font-family: "Grandstander", Calibri;
    font-size: 1.5rem !important;
    color: var(--color5);
    margin-top: 1vh !important;
    margin-bottom: 2vh !important;
}

.h4{
    font-family: "Grandstander", Calibri;
    font-size: 1.2rem !important;
    color: var(--color5);
    margin-top: 5vh !important;
    margin-bottom: 2vh !important;
}

.subtitle{
    color: rgb(85, 85, 85) !important;
}

/*Styles pour les formulaires*/

.form-control{
    width: 50% !important;
}

/*Styles pour les boutons des formulaires*/

.btn-outline-primary {
    color: var(--color1) !important;
    border: 1px solid var(--color1) !important;
    background-color: white !important;
}

.btn-outline-primary:hover{
    border-color: var(--color1) !important;
    color: white !important;
    background-color: var(--color1) !important;
}

/*Styles pour les cartes*/

.row{
    margin-right: 0px !important;
    margin-left: 0px !important;    
    margin-top: 2vh !important;
}

.card-img-top{
    height: 50vh;
    object-fit: cover;
    border-bottom: 2px solid var(--color6) !important;
}

/*Styles pour les cartes produits disponibles*/

.card{
    border: 1px solid var(--color6) !important;
}

.card:hover{
    border-color: var(--color6) !important;
    transition: 0.5s;
    transform: scale(1.02);
}

.card-title{
    font-family: "Grandstander", Calibri;
    font-size: 1.5rem;
    color: var(--color6);
}

.prix{
    font-family: "Grandstander", Calibri;
    font-size: 1rem;
    color: var(--color5);
}

.btn-form{
    border: 2px solid var(--color6) !important;
    color: var(--color6) !important;
}

.btn-form:hover{
    border-color: var(--color6) !important;
    color: white !important;
    background-color: var(--color6) !important;
    transition: 0.5s;
    transform: scale(1.05);
}

/*Styles pour les cartes produits indisponibles*/

.card.card-gray{
    border: 1px solid gray !important;
}

.card.card-gray:hover{
    transform: scale(1);
}

.gray-filter{
    filter: grayscale(100%);
}

.card-title-gray{
    font-family: "Grandstander", Calibri;
    font-size: 1.5rem;
    color: gray;
}

.prix-gray{
    font-family: "Grandstander", Calibri;
    font-size: 1rem;
    color: gray;
}

.btn-form:disabled{
    border: 2px solid gray !important;
    background-color: gray !important;
    color: white !important;
}

/*Styles pour les commentaires*/

.card-com{
    border: 1px solid var(--color2) !important;
}

.card-com:hover{
    border-color: var(--color2) !important;
    transition: 0.5s;
    transform: scale(1.02);
}

.card-header{
    background-color: var(--color1) !important;
}

.card-com-body{
    background-color: var(--color4) !important;
    border: 1px solid var(--color2) !important;
}

.card-com-body:hover{
    border-color: var(--color2) !important;
}

.stars{
    width: 1.5rem !important;
    height: 1.5rem !important;
}

.stars-com{
    width: 1rem !important;
    height: 1rem !important;
}

