<!doctype html>
<html lang="fr">
    <head>
        <!-- meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- CSS -->
        <link rel="stylesheet" href="static/css/styles.css">
        <link rel="stylesheet" href="static/bootstrap-5.0.2-dist/css/bootstrap.css">

        <title>ISI WEB 4 SHOP</title>
    </head>
    
    <body>
        {%  include 'navbar.twig' %}
        {%  include 'header.twig' %}
        <p>Login</p>
        <form method="post" action="#">
				<p>Nom d'utilisateur : <input type="text" id="numLic" name="username" required> </p>
				<p>Mot de passe : <input type="text" id="nom" name="password" required> </p>
				</br>
				<input type="submit" name="create_account" value="Créer un compte" class=""/>
                <input type="submit" name="login" value="Se connecter" class=""/>
			</form>
    </body>
</html>