<!doctype html>
<html lang="fr">
    <head>
        <!-- meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- CSS -->
        <link rel="stylesheet" href="static/css/styles.css">
        <link rel="stylesheet" href="static/bootstrap-5.0.2-dist/css/bootstrap.css">

        <title>ISI WEB 4 SHOP</title>
    </head>
    
    <body>
        {%  include 'navbar.twig' %}
        <header class="bg-image haccueil">
            <h1 class="display-1">ISI WEB 4 SHOP</h1>
        </header>

        <p>
            Bienvenue sur le site de vente en ligne de l'ISI WEB 4 !
        </p>

        <p>
            Vous trouverez ici tous les produits disponibles à la vente.
        </p>
                
    </body>
</html>