<!doctype html>
<html lang="fr">
	<head>
		<!-- meta tags -->
		<meta charset="utf-8">
		<meta
		name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- CSS -->
		<link rel="stylesheet" href="static/css/styles.css">
		<link rel="stylesheet" href="static/css/navbar.css">
		<link rel="stylesheet" href="static/css/footer.css">
		<link rel="stylesheet" href="static/bootstrap-5.0.2-dist/css/bootstrap.css">

		<link rel="icon" href="static/img/favicon.ico"/>

		<title>ISI WEB 4 SHOP</title>
	</head>

	<body>
		{%  include 'navbar.twig' %}
		{%  include 'header.twig' %}

		<div>
			<h1 class="text-center">Mentions légales</h1>
			<p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>

			

            <div>
                <h1 class="">Politique en matière de cookies</h1>

                <h2 class="titre-h2">1. Qu'est-ce qu'un cookie ?</h2>
                <p>Un cookie est un petit fichier constitué de lettres et de chiffres et téléchargé sur votre ordinateur lorsque vous accédez à certains sites web. 
                    En général, les cookies permettent à un site web de reconnaître l'ordinateur de l'utilisateur.</p>
                <p>La chose la plus importante à savoir sur les cookies que nous plaçons est qu'ils servent à améliorer la convivialité de notre site web, par exemple en mémorisant les préférences du site et les paramètres linguistiques.</p>

                <h2 class="titre-h2">2. Pourquoi utilisons-nous des cookies ?</h2>
                <p>Nous pouvons utiliser des cookies et d'autres technologies similaires pour un certain nombre de raisons, par exemple : 
                    i) pour des besoins de sécurité ou de protection contre la fraude, et afin d'identifier et de prévenir les cyber-attaques, 
                    ii) pour vous fournir le service que vous avez choisi de recevoir de notre part, 
                    iii) pour contrôler et analyser les performances, le fonctionnement et l'efficacité de notre service et 
                    iv) d'améliorer votre expérience utilisateur.</p>

                <h2 class="titre-h2">3. Tableau des cookies :</h2>
                <p>Dans cette section, vous devez mentionner les cookies que vous utilisez sur votre site. Pour plus d'informations, <a href="https://support.wix.com/fr/article/les-cookies-et-votre-site-wix" target="_blank">cliquez ici</a>.</p>

                <h2 class="titre-h2">4. Vos choix :</h2>
                <p>Pour en savoir plus sur les cookies, notamment sur la manière de voir quels cookies ont été définis et de comprendre comment les gérer, les supprimer ou les bloquer, visitez <a href="https://aboutcookies.org/" target="_blank">https://aboutcookies.org/</a> ou <a href="https://www.allaboutcookies.org/fr/" target="_blank">https://www.allaboutcookies.org/fr/</a>.</p>
                <p>Il est également possible d'empêcher votre navigateur d'accepter les cookies en modifiant les paramètres concernés dans votre navigateur. Vous pouvez généralement trouver ces paramètres dans le menu «&nbsp;Options&nbsp;» ou «&nbsp;Préférences&nbsp;» de votre navigateur.</p>
                <p>Veuillez noter que la suppression de nos cookies ou la désactivation de futurs cookies ou technologies de suivi pourront vous empêcher d'accéder à certaines zones ou fonctionnalités de nos services, ou pourront autrement affecter négativement votre expérience d'utilisateur.</p>
                <p>Les liens suivants peuvent être utiles, ou vous pouvez utiliser l'option «&nbsp;Aide&nbsp;» de votre navigateur.</p>
                <ul>
                    <li><a href="https://support.mozilla.org/fr/kb/activer-desactiver-cookies-preferences" target="_blank">Paramètres des cookies dans Firefox</a></li>
                    <li><a href="https://support.microsoft.com/fr-fr/topic/supprimer-et-g%C3%A9rer-les-cookies-168dab11-0753-043d-7c16-ede5947fc64d" target="_blank">Paramètres des cookies dans Internet Explorer</a></li>
                    <li><a href="https://support.google.com/chrome/answer/95647?hl=fr" target="_blank">Paramètres des cookies dans Google Chrome</a></li>
                    <li><a href="https://support.apple.com/fr-fr/guide/safari/sfri11471/mac" target="_blank">Paramètres des cookies dans Safari (OS&nbsp;X)</a></li>
                    <li><a href="https://support.apple.com/fr-fr/HT201265" target="_blank">Paramètres des cookies dans Safari (iOS)</a></li>
                    <li><a href="https://support.google.com/accounts/answer/32050?co=GENIE.Platform%3DAndroid&amp;hl=fr" target="_blank">Paramètres des cookies dans Android</a></li>
                </ul>
                <p>Pour refuser et empêcher que vos données soient utilisées par Google Analytics sur tous les sites web, consultez les instructions suivantes&nbsp;:&nbsp;<a href="https://tools.google.com/dlpage/gaoptout?hl=fr" target="_blank">https://tools.google.com/dlpage/gaoptout?hl=fr</a>.</p>
                <p>Il se peut que nous modifiions cette politique en matière de cookies. Nous vous encourageons à consulter régulièrement cette page pour obtenir les dernières informations sur les cookies.</p>

            </div>

        

		{%  include 'footer.twig' %}
	</body>
</html>
