<!doctype html>
<html lang="fr">
	<head>
		<!-- meta tags -->
		<meta charset="utf-8">
		<meta
		name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- CSS -->
		<link rel="stylesheet" href="static/css/styles.css">
		<link rel="stylesheet" href="static/css/navbar.css">
		<link rel="stylesheet" href="static/css/footer.css">
        <link rel="stylesheet" href="static/css/footerlink.css">
		<link rel="stylesheet" href="static/bootstrap-5.0.2-dist/css/bootstrap.css">

		<link rel="icon" href="static/img/favicon.ico"/>

		<title>ISI WEB 4 SHOP</title>
	</head>

	<body>
		{%  include 'navbar.twig' %}
		{%  include 'header.twig' %}

		<div class="apropos p-5">

            <h1 class="display-1 text-center">À propos</h1>

            <div> 
                <h1 class="titre-section-footerlink" id="mentions-legales">Mentions légales</h1>
                <p><strong>Nom de l'entreprise :</strong> Milk and Mocha</p>
                <p><strong>Forme juridique :</strong> Société par actions simplifiée</p>
                <p><strong>Adresse du siège social :</strong> 15 Boulevard André Latarjet, 69100 Villeurbanne</p>
                <p><strong>Numéro de téléphone :</strong> 01 23 45 67 89</p>
                <p><strong>Adresse e-mail :</strong> milkandmocha@gmail.com</p>
                <p><strong>Numéro d'immatriculation </strong>: 123456789</p>
                <p><strong>Capital social : </strong>1000€</p>
                <p><strong>Noms des directeurs de la publication :</strong> HONORÉ Alexandre et SITHIDEJ Clara</p>
            </div>
            

            <div>
                <h1 class="titre-section-footerlink" id="politique-cookies">Politique en matière de cookies</h1>
                <h2 class="titre-h2">1. Qu'est-ce qu'un cookie ?</h2>
                <p>Un cookie est un petit fichier constitué de lettres et de chiffres et téléchargé sur votre ordinateur lorsque vous accédez à certains sites web. 
                    En général, les cookies permettent à un site web de reconnaître l'ordinateur de l'utilisateur.</p>
                <p>La chose la plus importante à savoir sur les cookies que nous plaçons est qu'ils servent à améliorer la convivialité de notre site web, par exemple en mémorisant les préférences du site et les paramètres linguistiques.</p>

                <h2 class="titre-h2">2. Pourquoi utilisons-nous des cookies ?</h2>
                <p>Nous pouvons utiliser des cookies et d'autres technologies similaires pour un certain nombre de raisons, par exemple : 
                    i) pour des besoins de sécurité ou de protection contre la fraude, et afin d'identifier et de prévenir les cyber-attaques, 
                    ii) pour vous fournir le service que vous avez choisi de recevoir de notre part, 
                    iii) pour contrôler et analyser les performances, le fonctionnement et l'efficacité de notre service et 
                    iv) d'améliorer votre expérience utilisateur.</p>

                <h2 class="titre-h2">3. Vos choix :</h2>
                <p>Pour en savoir plus sur les cookies, notamment sur la manière de voir quels cookies ont été définis et de comprendre comment les gérer, les supprimer ou les bloquer, visitez <a href="https://aboutcookies.org/" target="_blank">https://aboutcookies.org/</a> ou <a href="https://www.allaboutcookies.org/fr/" target="_blank">https://www.allaboutcookies.org/fr/</a>.</p>
                <p>Il est également possible d'empêcher votre navigateur d'accepter les cookies en modifiant les paramètres concernés dans votre navigateur. Vous pouvez généralement trouver ces paramètres dans le menu «&nbsp;Options&nbsp;» ou «&nbsp;Préférences&nbsp;» de votre navigateur.</p>
                <p>Veuillez noter que la suppression de nos cookies ou la désactivation de futurs cookies ou technologies de suivi pourront vous empêcher d'accéder à certaines zones ou fonctionnalités de nos services, ou pourront autrement affecter négativement votre expérience d'utilisateur.</p>
                <p>Les liens suivants peuvent être utiles, ou vous pouvez utiliser l'option «&nbsp;Aide&nbsp;» de votre navigateur.</p>
                <ul>
                    <li><a href="https://support.mozilla.org/fr/kb/activer-desactiver-cookies-preferences" target="_blank">Paramètres des cookies dans Firefox</a></li>
                    <li><a href="https://support.microsoft.com/fr-fr/topic/supprimer-et-g%C3%A9rer-les-cookies-168dab11-0753-043d-7c16-ede5947fc64d" target="_blank">Paramètres des cookies dans Internet Explorer</a></li>
                    <li><a href="https://support.google.com/chrome/answer/95647?hl=fr" target="_blank">Paramètres des cookies dans Google Chrome</a></li>
                    <li><a href="https://support.apple.com/fr-fr/guide/safari/sfri11471/mac" target="_blank">Paramètres des cookies dans Safari (OS&nbsp;X)</a></li>
                    <li><a href="https://support.apple.com/fr-fr/HT201265" target="_blank">Paramètres des cookies dans Safari (iOS)</a></li>
                    <li><a href="https://support.google.com/accounts/answer/32050?co=GENIE.Platform%3DAndroid&amp;hl=fr" target="_blank">Paramètres des cookies dans Android</a></li>
                </ul>
                <p>Pour refuser et empêcher que vos données soient utilisées par Google Analytics sur tous les sites web, consultez les instructions suivantes&nbsp;:&nbsp;<a href="https://tools.google.com/dlpage/gaoptout?hl=fr" target="_blank">https://tools.google.com/dlpage/gaoptout?hl=fr</a>.</p>
                <p>Il se peut que nous modifiions cette politique en matière de cookies. Nous vous encourageons à consulter régulièrement cette page pour obtenir les dernières informations sur les cookies.</p>
            </div>

            <div>
                <h1 class="titre-section-footerlink" id="politique-confidentialite">Politique de confidentialité</h1>

                <h2 class="titre-h2">1. Collecte des informations</h2>
                <p>Nous collectons les informations que vous nous fournissez volontairement lors de la création d'un compte, de la passation d'une commande ou de l'inscription à notre newsletter. Ces informations peuvent inclure votre nom, adresse, adresse e-mail, numéro de téléphone, et d'autres données nécessaires au traitement de votre commande.</p>

                <h2 class="titre-h2">2. Utilisation des informations</h2>
                <p>Nous utilisons vos informations pour traiter vos commandes, vous informer sur l'état de votre commande, personnaliser votre expérience d'achat et vous envoyer des communications marketing si vous avez consenti à les recevoir. Nous ne vendons ni ne partageons vos informations avec des tiers non affiliés, sauf dans le cadre du traitement de votre commande.</p>

                <h2 class="titre-h2">3. Sécurité des données</h2>
                <p>Nous prenons des mesures de sécurité raisonnables pour protéger vos données contre tout accès non autorisé, modification, divulgation ou destruction. Cependant, veuillez noter qu'aucune méthode de transmission sur Internet ou de stockage électronique n'est totalement sécurisée, et nous ne pouvons garantir la sécurité absolue de vos données.</p>

                <h2 class="titre-h2">4. Accès et contrôle de vos informations</h2>
                <p>Vous avez le droit d'accéder, de rectifier ou de supprimer vos informations personnelles. Pour exercer ces droits ou pour poser des questions sur notre politique de confidentialité, veuillez nous contacter à [votre adresse e-mail].</p>

                <h2 class="titre-h2">5. Modifications de la politique de confidentialité</h2>
                <p>Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Les modifications seront publiées sur cette page avec indication de la date de la dernière mise à jour.</p>

                <p>En utilisant notre site, vous consentez à notre politique de confidentialité.</p>
            </div>

            <div>
                <h1 class="titre-section-footerlink" id="conditions-utilisation">Conditions d'utilisation</h1>

                <h2 class="titre-h2">1. Acceptation des Conditions</h2>
                <p>En utilisant notre site, vous acceptez automatiquement nos conditions d'utilisation. Si vous n'êtes pas d'accord avec l'une des dispositions de ces conditions, veuillez ne pas utiliser nos services.</p>

                <h2 class="titre-h2">2. Compte Utilisateur</h2>
                <p>Lors de la création d'un compte sur notre site, vous êtes responsable de fournir des informations exactes et complètes. Vous êtes également responsable de la confidentialité de votre mot de passe et de toutes les activités se déroulant sous votre compte.</p>

                <h2 class="titre-h2">3. Commandes et Paiements</h2>
                <p>En passant une commande sur notre site, vous acceptez de fournir des informations exactes et à jour. Les prix des produits sont indiqués sur le site et peuvent être modifiés sans préavis. Les paiements sont traités de manière sécurisée, mais nous ne sommes pas responsables des erreurs ou des interruptions dans le processus de paiement.</p>

                <h2 class="titre-h2">4. Livraison</h2>
                <p>Nous nous efforçons de respecter les délais de livraison indiqués, mais ceux-ci sont susceptibles de varier en fonction de divers facteurs. Nous ne sommes pas responsables des retards de livraison indépendants de notre volonté.</p>

                <h2 class="titre-h2">5. Propriété Intellectuelle</h2>
                <p>Le contenu de notre site, y compris les textes, images, logos, etc., est protégé par des droits de propriété intellectuelle. Vous ne pouvez pas utiliser, reproduire ou distribuer ce contenu sans notre autorisation écrite.</p>

                <h2 class="titre-h2">6. Responsabilité</h2>
                <p>Nous faisons de notre mieux pour garantir l'exactitude et la disponibilité de nos services, mais nous ne pouvons garantir l'absence d'erreurs, de virus ou d'autres éléments nuisibles. En utilisant notre site, vous acceptez d'assumer tous les risques associés à son utilisation.</p>

                <h2 class="titre-h2">7. Modification des Conditions</h2>
                <p>Nous nous réservons le droit de modifier ces conditions d'utilisation à tout moment. Les modifications seront publiées sur cette page avec indication de la date de la dernière mise à jour.</p>
            </div>

        </div>
        

		{%  include 'footer.twig' %}
	</body>
</html>
