<nav class="navbar fixed-top navbar-expand-lg bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="?page=acceuil"> <img src="static/img/Milk_and_Mocha_test.jpg" alt="" width="40" height="40"> </a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<ul class="nav nav-tabs">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="?page=acceuil">Accueil</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="?page=boissons">Boissons</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Biscuits</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>
