<!doctype html>
<html lang="fr">
	<head>
		<!-- meta tags -->
		<meta charset="utf-8">
		<meta
		name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- CSS -->
		<link rel="stylesheet" href="static/css/styles.css">
		<link rel="stylesheet" href="static/css/navbar.css">
		<link rel="stylesheet" href="static/css/footer.css">
		<link rel="stylesheet" href="static/css/paiement.css">
		<link rel="stylesheet" href="static/bootstrap-5.0.2-dist/css/bootstrap.css">

		<link rel="icon" href="static/img/favicon.ico"/>

		<title>ISI WEB 4 SHOP</title>
	</head>

	<body>
		{%  include 'navbar.twig' %}
		{%  include 'header.twig' %}

		<div class="paiement-container">
			{% if is_paid == false %}
			<div class="ps-5 text-center">
				<h1 class="h1 mt-5">Choississez votre moyen de paiement</h1>

				<form method="POST" action="" class="p-5 m-5">
					<button type="submit" name="paypal" class="btn btn-form-choice me-4">Paypal</button>
					<button type="submit" name="cheque" class="btn btn-form-choice ms-4">Chèque</button>
				</form>
			</div>
				
			{% else %}
				<h1 class="h1 mt-5 ps-5">Votre commande a bien été prise en compte</h1>
				<p class="h5 mt-3 ps-5">Vous pouvez continuer à naviguer sur notre site.</p>

				<a href="?page=produits" class="btn btn-form mt-5 ms-5">Continuer mes achats</a>
			{% endif %}
		</div>

		{%  include 'footer.twig' %}
	</body>
</html>
