<!doctype html>
<html lang="fr">
    <head>
        <!-- meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- CSS -->
        <link rel="stylesheet" href="static/css/styles.css">
        <link rel="stylesheet" href="static/bootstrap-5.0.2-dist/css/bootstrap.css">

        <title>ISI WEB 4 SHOP</title>
    </head>
    
    <body>
        {%  include 'navbar.twig' %}
        {%  include 'header.twig' %}
        
        
        <h1 class="display-4 h1 text-center m-4">Produits disponibles</h1>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for item in products|sort((a, b) => a.name <=> b.name) %}
            <div class="col">
              <div class="card h-100">
                <img src="static/productimages/{{item.image}}" class="card-img-top" alt="Aucune image disponible">
                <div class="card-body">
                  <h5 class="card-title">{{ item.name }}</h5>
                  <p class="card-text">{{item.description}}</p>
                <p class="prix">{{item.price}} €</p>
                  <button type="submit" class="btn btn-form">Ajouter au panier</button>
                </div>
              </div>
            </div>
            {% endfor %}
        </div>

        {%  include 'footer.twig' %}
    </body>
</html>


