<!doctype html>
<html lang="fr">
    <head>
        <!-- meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- CSS -->
        <link rel="stylesheet" href="static/css/styles.css">
        <link rel="stylesheet" href="static/bootstrap-5.0.2-dist/css/bootstrap.css">

        <title>ISI WEB 4 SHOP</title>
    </head>
    
    <body>
        {%  include 'navbar.twig' %}

        <form method="POST" action="">
            <input type="hidden" name="product_id" value="{{product.id}}"/>
            <button type="submit" class="btn btn-form">Ajouter au panier</button>
        </form>

        {%  include 'footer.twig' %}
    </body>
</html>